<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.izenstargram">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.hardware.camera" /> -->
    <!-- <uses-feature -->
    <!-- android:name="android.hardware.camera.autofocus" -->
    <!-- android:required="true" /> -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_main"
        android:label="@string/app_name"
        android:roundIcon="@drawable/instagramcircle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".feed.CommentsActivity"/>
        <activity android:name=".profile.ProfileGalleryActivity" />
        <activity android:name=".profile.ProfileCameraImageActivity" />
        <activity android:name=".profile.ProfileCameraActivity" />
        <activity android:name=".profile.ProfileAuthActivity" />
        <activity android:name=".profile.ChangeProfileActivity" />
        <activity android:name=".login.ChangePasswordActivity" />
        <activity android:name=".login.FindLoginActivity" />
        <activity android:name=".login.JoinSuccessActivity" />
        <activity android:name=".login.JoinSecondActivity" />
        <activity android:name=".login.JoinFirstActivity" />
        <activity android:name=".login.GoLoginActivity" />
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@drawable/stroke_down" />

        <activity
            android:name=".upload.WriteActivity"
            android:label="@string/WriteActivity" />
        <activity
            android:name=".upload.ImageViewActivity"
            android:label="@string/ImageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".upload.UploadActivity" />
        </activity>
        <activity android:name=".upload.UploadActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>