<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="memberDTO"
			type="com.ezen.project.bean.TestMemDTO" />
		<typeAlias alias="postDTO"
			type="com.ezen.project.bean.PostDTO" />
		<typeAlias alias="postImageDTO"
			type="com.ezen.project.bean.PostImageDTO" />
		<typeAlias alias="userDTO"
			type="com.ezen.project.bean.UserDTO" />
		<typeAlias alias="allTagDTO"
			type="com.ezen.project.bean.AllTagDTO" />
		<typeAlias alias="linkedTagDTO"
			type="com.ezen.project.bean.LinkedTagDTO" />
		<typeAlias alias="userTagDTO"
			type="com.ezen.project.bean.UserTagDTO" />
		<typeAlias alias="postAllDTO"
			type="com.ezen.project.bean.PostAllDTO" />
		<typeAlias alias="commentsDTO"
			type="com.ezen.project.bean.CommentsDTO" />
		<typeAlias alias="likesDTO"
			type="com.ezen.project.bean.LikesDTO" />
		<typeAlias alias="notifiInfoDTO"
			type="com.ezen.project.bean.NotifiInfoDTO" />
		<typeAlias alias="followDTO" 
		    type="com.ezen.project.bean.FollowDTO"/>
	</typeAliases>
	<mappers>
		<mapper resource="mybatis/member-mapping.xml" />
		<mapper resource="mybatis/post-mapping.xml" />
		<mapper resource="mybatis/postImage-mapping.xml" />
		<mapper resource="mybatis/tag-mapping.xml" />
		<mapper resource="mybatis/feed-mapping.xml" />
		<mapper resource="mybatis/notifiinfo-mapping.xml" />
	</mappers>
</configuration>